.DS_Store
node_modules
/dist
src/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
ue(原)/ue1.vue
ue(原)/ue2.vue
ue(原)/ue3.txt
download.zip
src/dist/fonts/element-icons.535877f5.woff
src/dist/css/app.c5fef8c7.css
src/dist/favicon.ico
src/dist/fonts/element-icons.732389de.ttf
src/dist/fonts/fontello.068ca2b3.ttf
src/dist/fonts/fontello.8d4a4e6f.woff2
src/dist/fonts/fontello.a782baa8.woff
*.eot
src/dist/css/chunk-vendors.0af28e0d.css
*.svg
*.png
src/dist/img/aut.3541e21b.jpg
src/dist/img/toppic.abefe57e.jpg
src/dist/index.html
src/dist/js/app.e13cb6ae.js
src/dist/js/app.e13cb6ae.js.map
src/dist/js/chunk-vendors.a271e4e7.js
src/dist/js/chunk-vendors.a271e4e7.js.map
src/dist/js/app.0ff2964e.js.map
src/dist/js/app.0ff2964e.js
src/dist/css/app.0d6f35dc.css
